* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {color: #111111;}
h1 {text-align: center; font-size: 30px;}
h2 {text-align: center; font-size: 20px;}

.arrow_image {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  z-index: 200;

  -webkit-transition: -webkit-transform .1s; /* Safari */
  transition: transform .1s;

  -webkit-transform: scale(1.0) rotate(-90deg);
  -ms-transform: scale(1.0) rotate(-90deg);
  transform: scale(1.0) rotate(-90deg);
}



.header_text { padding-top: 80px; min-width: 100%; }


.menu_section {
position: fixed;
z-index: 100;
top: 0px;
height: 50px;
width: 100%;
padding-right: 50px; 
padding-left: 50px;
background-color: white;
}

/*FLEX*/
.flex_container {display: flex; flex-wrap: wrap; align-items: center;}
.flex_header_container {justify-content: center;}
.flex_header_item {
  min-width: 350px;
  max-width: 600px;
  z-index: 50;
}

  .flex_feature_item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
.flex_center {justify-content: center;}

.second_section_container {}
  .feature {
    
    float: left;
    width: 50px;
    margin: 5px;
    
    min-width: 250px;
    max-width: 300px;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    padding-top: 10px;

    color: #111111;
    filter: grayscale(100%);

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
  }
  .feature h2 {line-height: 0;}
  .feature p {text-align: center; margin: auto; max-width: 200px;}
  .feature .feature_image {width: 200px; height: 200px; margin: auto; border-radius: 200px; background-size: cover;}
  .feature1 .feature_image {background-image: url(./img/nvamalia.jpg);}
  .feature2 .feature_image {background-image: url(./img/farid.jpg);}
  .feature3 .feature_image {background-image: url(./img/nayan.jpg);}
  .feature4 .feature_image {background-image: url(./img/surf04.jpg);}
  .feature5 .feature_image {background-image: url(./img/surf05.jpg);}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(bg-image.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  opacity: 0.7;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  color: #fff;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right a:hover {
  color: #fff;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
}

.lesson-wrapper {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.clear {
  clear: left;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer p {
  color: #b3aeb5;
  font-size: 1.4rem;
  text-align: center;
}

footer {
  padding-top: 30px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.menu-active {
  background-color: #DCDCDC; 
  height: 65px;
  width: 100%;
  line-height: 65px;
}

.thx {
  float: left;
  height: 30px;
  padding: 0 25px;
